:root {
  --header-height: 2.5rem;
  --search-bar-height: 5rem;
}

.clickable {
  cursor: pointer;
  color: #333;
}

main {
  padding-top: calc(var(--header-height) + var(--search-bar-height));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 768px) {
  :root {
    --header-height: 50px;
    --search-bar-height: 180px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-wrapper {
  padding-top: 80px; /* O el valor que necesites */
}
